<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>21891902743-7kjd102nsggbpehjti5kd377scju679i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.21891902743-7kjd102nsggbpehjti5kd377scju679i</string>
	<key>API_KEY</key>
	<string>AIzaSyAmJQR_p320qmytqjcxCd64aqieZTWCOP0</string>
	<key>GCM_SENDER_ID</key>
	<string>21891902743</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.erdoganturpcu.SnapchatClone</string>
	<key>PROJECT_ID</key>
	<string>snapchatclone-e805a</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchatclone-e805a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:21891902743:ios:b32ac0b07fce026a435b52</string>
</dict>
</plist>